matplotlib
mediapipe
numpy==2.2.2
opencv_contrib_python==4.11.0.86
opencv_python==4.11.0.86
Pillow==11.1.0
setuptools==75.1.0
SAM-2 @ git+https://github.com/facebookresearch/sam2.git@2b90b9f5ceec907a1c18123530e92e794ad901a4
torch
torchvision